.si-control-panel {
    border: inset 4px;
    outline: solid black 2px;
    outline-offset: -1px;
    background-color: black;
}

.si-control-panel div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.si-control-panel img {
    width: 50%;
    height: 100%;
}

.si-control-panel p {
    font-size: 24px;
}